:root{
    --slate-dominant-text-color: #434455;
    --navy-blue-dark-shadows-headings-color: #2E2F42;
    --iris-primary-brand-links-color: #4D5AE5;
    --white-bgc-header-teamcard-color: #FFFFFF;
    --cloud-light-bgc-footertext-color: #F4F4FD;
    --ocean-bgc-hover-focus-active-color: #404BBF;
    --cornflower-accent-color: #E7E9FC;
    --light-slate-border: #8E8F99;
    --green-hover-footer: #31D0AA;
    --bg-gradient: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
    --dairy-modal-color: #FCFCFC;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
        margin: 0;
}

ul {
        margin: 0;
        padding-left: 0;
}

button {
        cursor: pointer;
}
img {
        display: block;
}

body{
font-family: "Roboto", sans-serif;
color: var(--slate-dominant-text-color);
background-color: var(--white-bgc-header-teamcard-color);
}

.list{
        list-style: none;
}
.link{
        text-decoration: none;
}
.no-scroll {
        overflow: hidden;
}
.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;

        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}
.container {
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
}

.header {
        border-bottom: 1px solid;
        border-color: var(--cornflower-accent-color);
        padding-top: 24px;
        padding-bottom: 24px;
}
.header-container{
        display: flex;
}
.header-navigation {
        display: flex;
        align-items: center;
        margin-right: auto;
}

.header-logo {
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--iris-primary-brand-links-color);
        margin-right: 76px;
}

.header-logo-studio{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--navy-blue-dark-shadows-headings-color);
}

.header-list {
        display: flex;
        gap: 40px;
}
.header-item {}

.header-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--navy-blue-dark-shadows-headings-color);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover, .header-link:focus{
    color: var(--ocean-bgc-hover-focus-active-color);
}
.current{
        position: relative;
}
.current::after {
        content: '';
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--ocean-bgc-hover-focus-active-color);
        position: absolute;
        left: 0;
        bottom: -27px;
}
.header-address {
        font-style: normal;
}
.header-address-list {
        display: flex;
}
.header-address-item {}

.header-address-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--slate-dominant-text-color);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link:hover, .header-address-link:focus{
    color: var(--ocean-bgc-hover-focus-active-color);

}
.header-mail {
        margin-right: 40px;
}

.hero {
        background-color: var(--navy-blue-dark-shadows-headings-color);
        background-image: var(--bg-gradient), url(../images/hero-bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-top: 188px;
        padding-bottom: 188px;
        max-width: 1440px;
        margin: 0 auto;
}

.hero-title {
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: var(--white-bgc-header-teamcard-color);
        text-align: center;
        margin: 0 auto 48px;
        
}

.hero-button {
        min-width: 169px;
        height: 56px;
        font-family: 'Roboto',sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--white-bgc-header-teamcard-color);
        background-color: var(--iris-primary-brand-links-color);
        cursor: pointer;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
        padding: 16px 32px 16px 32px;
        display: block;
        margin: 0 auto;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover{
    background-color: var(--ocean-bgc-hover-focus-active-color);
}
.hero-button:focus{
    background-color: var(--ocean-bgc-hover-focus-active-color);
}
.feature {
        padding-top: 120px;
        padding-bottom: 120px;
}

.hidden-title {}

.feature-list {
        display: flex;
        gap: 24px;
}

.feature-item {
        width: 264px;
}
.feature-item-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        width: 100%;
        background-color: var(--cloud-light-bgc-footertext-color);
        border-radius: 4px;
        margin-bottom: 8px;
}
.feature-icon{
}

.feature-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--navy-blue-dark-shadows-headings-color);
        margin-bottom: 8px;
}

.feature-desc {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--slate-dominant-text-color);
        max-width: 264px;
}
.about {
        padding-bottom: 120px;
}

.about-title{
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--navy-blue-dark-shadows-headings-color);
        text-align: center;
        margin-bottom: 72px;
}
.about-list {
        display: flex;
        gap: 24px;
}
.about-item {
        border: 1px solid #E7E9FC;
}

.team {
    background-color: var(--cloud-light-bgc-footertext-color);
        padding-top: 120px;
        padding-bottom: 120px;
}

.team-title {
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--navy-blue-dark-shadows-headings-color);
        text-align: center;
        margin-bottom: 72px;
}

.team-list {
        display: flex;
        gap: 24px;
}

.team-item {
    background-color: var(--white-bgc-header-teamcard-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px;
}
.team-item-content{
        padding: 32px 16px;
}
.team-name {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--navy-blue-dark-shadows-headings-color);
        text-align: center;
        margin-bottom: 8px;
}

.team-position {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--slate-dominant-text-color);
        text-align: center;
        margin-bottom: 8px;
}
.team-soc-list{
        display: flex;
        justify-content: center;
        gap: 24px;
}
.team-soc-item{
        width: 40px;
        height: 40px;
}
.team-soc-link{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: var(--iris-primary-brand-links-color);
        display: flex;
        align-items: center;
        justify-content: center;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-icon{
        display: flex;
        width: 16px;
        height: 16px;
        fill: var(--cloud-light-bgc-footertext-color);
}
.team-soc-link:hover {
        background-color: var(--ocean-bgc-hover-focus-active-color);

}
.team-soc-link:focus {
        background-color: var(--ocean-bgc-hover-focus-active-color);

}

.customers {
        padding-top: 120px;
        padding-bottom: 120px;
}

.customers-list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
}

.customers-item {
        width: 168px;
        height: 88px;
}
        

.customers-link {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--light-slate-border);
        border-radius: 4px;
        fill: var(--light-slate-border);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
        width: 104px;
        height: 56px;
}
.customers-link:hover, .customers-link:focus{
        border-color: var(--ocean-bgc-hover-focus-active-color);
        fill: var(--ocean-bgc-hover-focus-active-color);
}

.footer {
        background-color: var(--navy-blue-dark-shadows-headings-color);
        padding-top: 100px;
        padding-bottom: 100px;
}
.footer-container{
        display: flex;
}
.footer-logo-container{
        margin-right: 120px;
}

.footer-logo {
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--iris-primary-brand-links-color);
        display: flex;
}

.footer-logo-studio {
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--cloud-light-bgc-footertext-color);
        display: flex;
}

.footer-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--cloud-light-bgc-footertext-color);
        width: 264px;
        margin-top: 17.5px;
}

.container-soc-icon {
        margin-right: 80px;
}

.footer-soc-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--white-bgc-header-teamcard-color);
        margin-bottom: 16px;
}

.footer-soc-list {
        display: flex;
        gap: 16px;
}

.footer-soc-item {
        width: 40px;
        height: 40px;
}

.footer-soc-link {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: var(--iris-primary-brand-links-color);
        display: flex;
        align-items: center;
        justify-content: center;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-icon {
        width: 24px;
        height: 24px;
        fill: var(--cloud-light-bgc-footertext-color);
}
.footer-soc-link:hover, .footer-soc-link:focus {
        background-color: var(--green-hover-footer);
}
.footer-form-container {}

.footer-form {}

.footer-form-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--white-bgc-header-teamcard-color);
        margin-bottom: 16px;
}

.form-container {
        display: flex;
}
.footer-form-input {
        width: 264px;
        height: 40px;
        border: 1px solid var(--white-bgc-header-teamcard-color);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background-color: var(--navy-blue-dark-shadows-headings-color);
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 16px;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--cloud-light-bgc-footertext-color);
        margin-right: 24px;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-input::placeholder {
        font-size: 12px;
        line-height: 2;
        display: flex;
        align-items: center;
        letter-spacing: 0.04em;
        color: var(--white-bgc-header-teamcard-color);
}
.footer-form-input:focus {
        outline: transparent;
}
.footer-form-btn {
        width: 165px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 8px 24px;
        background-color: var(--iris-primary-brand-links-color);
        border-radius: 4px;
        border: none;
        gap: 16px;
}
.footer-btn-text{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--white-bgc-header-teamcard-color);
}
.footer-form-icon {
        width: 24px;
        height: 24px;
        fill: var(--white-bgc-header-teamcard-color);
}

.portfolio{
        padding-top: 96px;
        padding-bottom: 120px;
}
.portfolio-list-btn {
        display: flex;
        justify-content: center;
        gap: 24px;
        margin-bottom: 72px;
}
.portfolio-item-btn {}

.portfolio-button {
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--iris-primary-brand-links-color);
        background-color: var(--cloud-light-bgc-footertext-color);
        border: 1px solid #E7E9FC;
        border-radius: 4px;
        cursor: pointer;
        padding: 12px 24px;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button:hover, .portfolio-button:focus{
        color: var(--white-bgc-header-teamcard-color);
        background-color: var(--ocean-bgc-hover-focus-active-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}
.portfolio-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
}
.portfolio-item {
        width: calc((100% - 48px) / 3);
        border: 1px solid;
        border-color: var(--cornflower-accent-color);
        border-top: none;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover, .portfolio-item:focus{
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);;
}
.portfolio-link {
        display: block;
}
.portfolio-link:hover .portfolio-top-text{
        transform: translate(0);
}
.portfolio-link:focus .portfolio-top-text {
        transform: translate(0);
}
.portfolio-top-text{
        position: absolute;
        top: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        background-color: var(--iris-primary-brand-links-color);
        color: var(--cloud-light-bgc-footertext-color);
        padding: 40px 32px;
        height: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        overflow: auto;
}

.portfolio-top-wrap{
        position: relative;
        overflow: hidden;
}

.portfolio-item-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--navy-blue-dark-shadows-headings-color);
        margin-bottom: 8px;
}

.portfolio-item-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--slate-dominant-text-color);
}
.portfolio-info {
        padding: 32px 16px;

}
.backdrop{
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(46, 47, 66, 0.4);;
        transition: opacity 300ms linear, visibility 250ms linear;
}
.modal{
        width: 408px;
        min-height: 584px;
        background-color: var(--dairy-modal-color);
        border-radius: 4px;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        padding: 24px;
        transition: 300ms linear;
}
.backdrop.is-hidden .modal{
        transform: translate(-50%, -50%) scale(0);
}
.modal-close-btn{
        width: 24px;
        height: 24px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: var(--cornflower-accent-color);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-bottom: 24px;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close{
        width: 8px;
        height: 8px;
        fill: var(--navy-blue-dark-shadows-headings-color);
}
.modal-close-btn:hover, .modal-close-btn:focus {
        background-color: var(--ocean-bgc-hover-focus-active-color);
}
.modal-close-btn:focus-within, .modal-close-btn:hover .modal-close {
        fill: var(--white-bgc-header-teamcard-color);
}
.is-hidden{
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
}
.modal-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--navy-blue-dark-shadows-headings-color);
        width: 360px;
        margin-bottom: 16px;
}

.modal-form {

}

.modal-field {
        display: block;
        width: 360px;
}

.input-title {
        display: block;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: var(--light-slate-border);
        margin-bottom: 4px;
}

.input-wrap {
        position: relative;
}

.modal-input {
        display: flex;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        width: 100%;
        height: 40px;
        padding-left: 38px;
        outline: transparent;
        margin-bottom: 8px;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        background-color: var(--dairy-modal-color);
        color: var(--navy-blue-dark-shadows-headings-color);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
        border-color: var(--iris-primary-brand-links-color);
}

.modal-input:focus + .modal-icon {
        fill: var(--iris-primary-brand-links-color);
}

.modal-comment{
        border: 1px solid rgba(46, 47, 66, 0.4);;
        border-radius: 4px;
        width: 100%;
        min-height: 120px;
        padding-top: 8px;
        padding-left: 16px;
        outline: transparent;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--navy-blue-dark-shadows-headings-color);
        background-color: var(--dairy-modal-color);
        resize: none;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment:focus{
        border-color: var(--iris-primary-brand-links-color);
}
.modal-comment::placeholder{
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: var(--navy-blue-dark-shadows-headings-color);
        opacity: 0.4;
}

.modal-icon {
        display: block;
        width: 18px;
        height: 24px;
        fill: var(--navy-blue-dark-shadows-headings-color);
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
}
.input-check {}

.check-text {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: var(--light-slate-border);
        display: flex;
        align-items: center;
        padding-top: 16px;
}
.check-icon {
        width: 10px;
        height: 8px;
}
.check-text span {
        width: 16px;
        height: 16px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: transparent;
        margin-right: 8px;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.input-check:checked + .check-text span {
        background-color: var(--ocean-bgc-hover-focus-active-color);
        border: none;
        fill: var(--cloud-light-bgc-footertext-color);
}
.input-check:focus +.check-text span {
        border-color: var(--iris-primary-brand-links-color);
        outline: transparent;
}
.check-link {
        font-size: 12px;
        line-height: 1.3;
        letter-spacing: 0.04em;
        color: var(--iris-primary-brand-links-color);
}

.modal-btn {
        display: flex;
        width: 169px;
        height: 56px;
        border: none;
        background: var(--iris-primary-brand-links-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        padding: 16px 32px;
        margin-top: 24px;
        margin-left: auto;
        margin-right: auto;
        color: var(--white-bgc-header-teamcard-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        align-items: center;
        justify-content: center;
        letter-spacing: 0.04em;
} 
